<%= content_for :page_title, t('.heading') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors } %>

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.lead', location: @email.present? ? @email: t('.you')) %>
    </p>

    <%= form_with model: @result, url: base_users_confirm_path(e: params[:e]),  html: { novalidate: true }, local: true, method: :post do |f| %>
      <%= form_group_with_error(f.object, :confirmation_code) do |displayed_error, any_errors| %>
        <%= f.label :confirmation_code, t('.confirmation_code'), class: 'govuk-label govuk-!-margin-bottom-0' %>
        <%= displayed_error %>
        <%= f.text_field :confirmation_code, class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if any_errors}", type: 'number' %>
      <% end %>

      <% if @email.present? %>
        <%= f.hidden_field :email, value: @email %>
      <% else %>
        <%= form_group_with_error(f.object, :email) do |displayed_error, any_errors| %>
          <%= f.label :email, t('.email'), class: 'govuk-label govuk-!-margin-bottom-0' %>
          <%= displayed_error %>
          <%= f.text_field :email, class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if any_errors}" %>
        <% end %>
      <% end %>

      <%= f.submit t('common.continue'), class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7", 'aria-label': t('common.continue') %>
    <% end %>

    <% if @email.present? %>
      <p class="govuk-body govuk-!-margin-bottom-7">
        <%= t('.resend_the_confirmation_email_html', link: base_resend_confirmation_email_path(e: params[:e])) %>
      </p>
    <% end %>
  </div>
</div>