<%= content_for :page_title, t(".heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @response.errors } %>

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.heading1') %>
    </p>

    <p class="govuk-body-l">
      <%= t('.lead1') %>
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= t('.text_html') %>
    </p>

    <p class="govuk-body-l">
      <%= t('.lead') %> <span class="ccs-email-example"><%= @response.email %></span>
    </p>

    <%= form_with model: @response, url: base_edit_user_password_path,  html: { novalidate: true }, local: true, method: :put do |f| %>
      <%= f.hidden_field :email, value: @response.email %>

      <p class="govuk-body govuk-!-margin-bottom-1" id="password-strength"><%= t('.password') %></p>

      <%= render '/layouts/password-strength', password_id: "#{f.object_name}_password" %>

      <%= govuk_password_input(
        :password,
        form: f,
        label: {
          text: t('.new_password'),
        },
        form_group: {
          classes: 'govuk-!-width-three-quarters'
        },
        attributes: {
          aria: {
            describedby: 'password-strength passeight passcap passnum'
          }
        }
      ) %>

      <%= govuk_password_input(
        :password_confirmation,
        form: f,
        label: {
          text: t('.confirm_new_password'),
        },
        form_group: {
          classes: 'govuk-!-width-three-quarters'
        },
      ) %>

      <%= govuk_input(
        :confirmation_code,
        form: f,
        label: {
          text: t('.verify_code'),
        },
        classes: 'govuk-!-width-three-quarters',
        attributes: {
          maxlength: 6
        }
      ) %>

      <%= govuk_button(t('common.reset_password'), form: f) %>
    <% end %>
  </div>
</div>
