<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
    <p class="govuk-body">
      <%= t('.what_are_cookies') %>
    </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('home.cookies.measure_website_use.title') %>
    </h2>

    <div>
      <h3 class="govuk-heading-s">
        <%= t('home.cookies.measure_website_use.ga') %>
      </h3>

      <%= render partial: 'home/ga_cookies_info' %>

      <p class="govuk-body">
        <%= t('.ga_sets_following_cookies') %>
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.name') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.purpose') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.expires') %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% (1..3).each do |i| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".ga_cookies.row_#{i}.name") %></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".ga_cookies.row_#{i}.purpose") %></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".ga_cookies.row_#{i}.expires") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <hr class="govuk-section-break govuk-section-break--m">

    <div>
      <h3 class="govuk-heading-s">
        <%= t('home.cookies.measure_website_use.glassbox') %>
      </h3>

      <%= render partial: 'home/glassbox_cookies_info' %>

      <p class="govuk-body">
        <%= t('.glassbox_sets_following_cookies') %>
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.name') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.purpose') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.expires') %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% (1..2).each do |i| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".glassbox_cookies.row_#{i}.name") %></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".glassbox_cookies.row_#{i}.purpose") %></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".glassbox_cookies.row_#{i}.expires") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('home.cookies.strictly_necessary_cookies') %>
    </h2>

    <h3 class="govuk-heading-s">
      <%= t('.cookies_banner') %>
    </h3>

    <p class="govuk-body">
      <%= t('.you_may_see_a_banner') %>
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.name') %></th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.purpose') %></th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.expires') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-2" style="word-break: break-all;"><%= TailspendIdam.cookie_settings_name %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".cookie_banner_cookies.row_1.purpose") %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".cookie_banner_cookies.row_1.expires") %></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-2" style="word-break: break-all;"><%= t(".cookie_banner_cookies.row_2.name") %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".cookie_banner_cookies.row_2.purpose") %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".cookie_banner_cookies.row_2.expires") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('.change_your_settings') %>
    </h2>

    <p class="govuk-body">
      <%= t('.change_settings_html', change_settings_link: link_to(t('.change_settings_link_text'), cookie_settings_path, class: 'govuk-link govuk-link--no-visited-state') ) %>
    </p>

    <p class="govuk-body">
      <%= t('.last_updated') %>
    </p>
  </div>
</div>