<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row govuk-visually-hidden" id="cookie-settings-saved">
  <div class="govuk-grid-column-three-quarters govuk-inset-text ccs-inset-text--success">
    <h2 class="govuk-heading-m">
      <%= t('.cookies_saved') %>
    </h2>
    <div class="govuk-body">
      <%= t('.cookies_saved_description') %>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
    <p class="govuk-body">
      <%= t('.what_are_cookies') %>
    </p>
    <p class="govuk-body">
      <%= t('.why_we_use_them') %>
    </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('.cookie_settings') %>
    </h2>
    <p class="govuk-body">
      <%= t('.the_number_we_use') %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          <%= t('home.cookies.measure_website_use') %>
        </h2>
      </legend>

      <div>
        <p class="govuk-body">
          <%= t('home.cookies.we_use_ga') %>
        </p>

        <p class="govuk-body">
          <%= t('home.cookies.ga_list') %>
        </p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li><%= t('home.cookies.ga_list_1') %></li>
          <li><%= t('home.cookies.ga_list_2') %></li>
          <li><%= t('home.cookies.ga_list_3') %></li>
        </ul>
      </div>

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= radio_button_tag :ga_cookie_usage, true, cookies[:pmp_google_analytics_enabled] == 'true', class: 'govuk-radios__input' %>
          <%= label_tag :ga_cookie_usage, t('.use_cookies'), for: :ga_cookie_usage_true, class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :ga_cookie_usage, false, cookies[:pmp_google_analytics_enabled] != 'true', class: 'govuk-radios__input' %>
          <%= label_tag :ga_cookie_usage, t('.dont_use_cookies'), for: :ga_cookie_usage_false, class: 'govuk-label govuk-radios__label' %>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('home.cookies.strictly_necessary_cookies') %>
    </h2>
    <p class="govuk-body">
      <%= t('.essential_cookies') %>
    </p>
    <p class="govuk-body">
      <%= t('.always_need_to_be_on') %>
    </p>
    <%= link_to t('.find_out_more'), cookie_policy_path, class: 'govuk-link govuk-!-font-size-19' %>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= button_tag t('.save_changes'), class: 'govuk-button', id: 'save-cookie-settings-button' %>
  </div>
</div>
