<%= content_for :page_title, t('.heading') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <p>
      <%= t('.the_tailspend_solution') %>
    </p>
    <p>
      <%= t('.to_use_this_service') %>
    </p>
    <p>
      <%= t('.before_you_sign_in_html', registration_link: link_to(t('.create_an_account'), base_new_user_registration_path, class: 'govuk-link govuk-link--no-visited-state')) %>
    </p>
    <p>
      <%= t('.your_org_will_need') %>
    </p>
    <div class="govuk-button-group">
      <%= govuk_button(t('.sign_in_to_ot'), href: ENV['OFFICE_TEAM_GET_URL']) %>
      <%= govuk_button(t('.sign_in_to_unite'), href: ENV['MERCATEO_GET_URL']) %>
    </div>
  </div>
</div>
