<%= content_for :page_title, t('.heading') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row govuk-body-l">
  <div class="govuk-grid-column-two-thirds">
    <p>
      <%= t('.subheading') %>
    </p>
    <p>
      <%= t('.no_account_html', registration_link: link_to(t('.here'), base_new_user_registration_path, class: 'govuk-link govuk-link--no-visited-state')) %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2 pm-font-weight-semi-bold">
      <%= t('.before_you_start') %>
    </h2>
    <p class="govuk-body">
      <%= t('.to_use_this_service_html', authorised_customer_list: link_to(t('.authorised_customer_list'), t('.authorised_customer_list_link'), title: t('.authorised_customer_list_title'), class: 'govuk-link govuk-link--no-visited-state')) %>    
    </p>
    <%= link_to t('.sign_in'), ENV['PRINT_MARKET_PLACE_KEYCLOAK_URL'], title: t('.sign_in_title'), class: 'govuk-button'%>
  </div>
</div>
