<%= content_for :page_title, t("base.passwords.forgot_password_confirmation.heading") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('base.passwords.forgot_password_confirmation.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('base.passwords.forgot_password_confirmation.lead') %>
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= t('base.passwords.forgot_password_confirmation.text01') %> <%= t('base.passwords.forgot_password_confirmation.text02_html') %>.
    </p>

  </div>
</div>
