<%= content_for :page_title, t('.sign_in_header') %>

<h1 class="govuk-heading-xl">
  <%= t('.sign_in_header') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors } %>

    <%= form_with model: @result, url: base_user_session_path(parameters_without_user_details),  html: { novalidate: true }, local: true, method: :post do |f| %>
      <%= govuk_input(
        :email,
        form: f,
        label: {
          text: t('.email_address'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: t('.email_hint_html')
        },
        classes: 'govuk-!-width-three-quarters',
        field_type: :email,
      ) %>

      <%= govuk_password_input(
        :password,
        form: f,
        label: {
          text: t('.password'),
          classes: 'govuk-label--m'
        },
        form_group: {
          classes: 'govuk-!-width-three-quarters'
        },
      ) %>

      <%= govuk_button(t('common.sign_in'), form: f, classes: 'govuk-!-padding-left-7 govuk-!-padding-right-7') %>
    <% end %>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= link_to t('.create_account'), base_new_user_registration_path, class: "govuk-link" %>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= t('.problems_signing_in') %>
    </h2>

    <ul class="govuk-list">
      <li>
        <%= link_to t('.forgotten_password_html'), base_new_user_password_path, class: 'govuk-link' %>
      </li>
    </ul>
  </div>
</div>