<%= content_for :page_title, t('.sign_in_header') %>
<h1 class="govuk-heading-xl">
  <%= t('.sign_in_header') %>
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors } %>

    <%= form_with model: @result, url: base_user_session_path(request.parameters),  html: { novalidate: true }, local: true, method: :post do |f| %>
      <%= form_group_with_error(f.object, :email) do |displayed_error, any_errors| %>
        <%= f.label :email, t('.email_address'), class: 'govuk-label govuk-label--m govuk-!-margin-bottom-0' %>
        <span id="email-hint" class="govuk-hint govuk-!-width-three-quarters">
          <%= t('.email_hint_html') %>
        </span>
        <%= displayed_error %>
        <%= f.email_field :email, autofocus: true, autocomplete: "off", class:"govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if any_errors}", spellcheck: false, required: true, aria: { describedby: "email-hint" } %>
      <% end %>

      <%= form_group_with_error(f.object, :password) do |displayed_error, any_errors| %>
        <%= f.label :password, t('.password'), class: 'govuk-label govuk-label--m govuk-!-margin-bottom-0' %>
        <%= displayed_error %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if any_errors}", spellcheck: false, required: true %>
      <% end %>

      <%= f.submit t('common.sign_in'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7", 'aria-label': "#{t('common.sign_in')}" %>
    <% end %>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= link_to t('activemodel.errors.models.ccs_patterns/home/cog_sign_in.create_account_html'), base_new_user_registration_path, class: "govuk-link" %>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= t('.problems_signing_in') %>
    </h2>

    <ul class="govuk-list">
      <li>
        <%= link_to t('.forgotten_password_html'), base_new_user_password_path, class: 'govuk-link' %>
      </li>
    </ul>
  </div>
</div>