<%= content_for :page_title, t('.heading_html') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors } %>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= t('.heading_html') %>
    </h1>

    <p class="govuk-body">
      <%= t('.subheading') %>
    </p>
    <p class="govuk-body"><%= t('.subheading2') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-9 ">
      <li>
        <%= t('.bullet1') %>
      </li>
      <li>
        <%= t('.bullet2_html', authorised_customer_list: link_to(t('home.index.authorised_customer_list'), ENV['CUSTOMER_LIST_URL'], title: t('home.index.authorised_customer_list_title'), class: 'govuk-link govuk-link--no-visited-state')) %>
      </li>
    </ul>

    <%= form_with model: @result, url: base_user_registration_path,  html: { novalidate: true }, local: true, method: :post do |f| %>
      <fieldset class="govuk-fieldset">
        <%= form_group_with_error(f.object, :email) do |displayed_error, any_errors| %>
          <%= f.label :email, t('.email'), class: 'govuk-label' %>
          <span id="email-hint" class="govuk-hint govuk-!-width-three-quarters">
            <%= t('.email_hint') %>
          </span>
          <%= displayed_error %>
          <%= f.email_field :email, autofocus: true, autocomplete: "off", class:"govuk-input govuk-!-width-three-quarters #{'govuk-input--error' if any_errors}", spellcheck: false, required: true, aria: { describedby: "email-hint", invalid: aria_invalid(f.object, :email) } %>
        <% end %>

        <%= form_group_with_error(f.object, :first_name) do |displayed_error, any_errors| %>
          <%= f.label :first_name, t('.first_name'), class: 'govuk-label' %>
          <span id="first_name-hint" class="govuk-hint govuk-!-width-three-quarters">
            <%= t('.first_name_hint') %>
          </span>
          <%= displayed_error %>
          <%= f.text_field :first_name, class:"govuk-input govuk-!-width-three-quarters #{'govuk-input--error' if any_errors}", spellcheck: false, required: true, aria: { describedby: "first_name-hint", invalid: aria_invalid(f.object, :first_name) } %>
        <% end %>

        <%= form_group_with_error(f.object, :last_name) do |displayed_error, any_errors| %>
          <%= f.label :last_name, t('.last_name'), class: 'govuk-label' %>
          <span id="last_name-hint" class="govuk-hint govuk-!-width-three-quarters">
            <%= t('.last_name_hint') %>
          </span>
          <%= displayed_error %>
          <%= f.text_field :last_name, class:"govuk-input govuk-!-width-three-quarters #{'govuk-input--error' if any_errors}", spellcheck: false, required: true, aria: { describedby: "last_name-hint", invalid: aria_invalid(f.object, :last_name)  } %>
        <% end %>

        <%= form_group_with_error(f.object, :summary_line) do |displayed_error| %>
          <%= f.hidden_field :summary_line %>
          <%= f.label :organisation, t('.organisation'), class: 'govuk-label' %>
          <span id="organisation-hint" class="govuk-hint govuk-!-width-three-quarters">
            <%= t('.organisation_hint_html', email: mail_to(t('layouts.footer.email'), t('layouts.footer.email'), class: 'govuk-link ga-support-mailto', aria: { label: t('layouts.footer.email_aria_label') } )) %>
          </span>
          <%= displayed_error %>
          <div id="selected-autocomplete-option" class="govuk-!-width-three-quarters" <%= "hidden" unless f.object.summary_line.present? %>>
            <p class="govuk-body govuk-!-font-weight-regular govuk-tag govuk-tag--green"><strong>Selected option: </strong><span><%= f.object.summary_line %></span></p>
          </div>
          <div id="my-autocomplete-container" class="govuk-!-width-three-quarters">
          </div>
        <% end %>
      </fieldset>

      <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <%= t('.create_password') %>
        </legend>

        <p class="govuk-body govuk-!-margin-bottom-1" id="password-strength"><%= t('.password_must_have') %></p>

        <%= render '/layouts/password-strength', password_id: "#{f.object_name}_password" %>

        <%= form_group_with_error(f.object, :password) do |displayed_error, any_errors| %>
          <%= f.label :password, t('.password'), class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.password_field :password, autocomplete: "off", class: "govuk-input govuk-!-width-three-quarters #{'govuk-input--error' if any_errors}", aria: { describedby: 'password-strength passeight passchar passcap passlower passnum' } %>
        <% end %>

        <%= form_group_with_error(f.object, :password_confirmation) do |displayed_error, any_errors| %>
          <%= f.label :password_confirmation, t('.confirm_password'), class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "govuk-input govuk-!-width-three-quarters #{'govuk-input--error' if any_errors}"  %>
        <% end %>
      </fieldset>

      <%= f.submit t('common.create_account'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7 govuk-!-margin-bottom-8", name: 'Create account' %>
    <% end %>
  </div>
</div>
