<%= content_for :page_title, t('.heading_html') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors } %>

    <%= govuk_fieldset(
      legend: {
        text: t('.heading_html'),
        is_page_heading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    ) do %>

      <p class="govuk-body">
        <%= t('.the_tailspend_solution') %>
      </p>

      <p class="govuk-body">
        <%= t('.before_you_can_register') %>
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
          <%= t('.complete_a_call_off') %>
        </li>
        <li>
          <%= t('.be_a_recognised_html', authorised_customer_list: link_to(t('.authorised_customer_list'), t('.authorised_customer_list_link'), title: t('.authorised_customer_list_title'), class: 'govuk-link govuk-link--no-visited-state')) %>    
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m">

      <%= form_with model: @result, url: base_user_registration_path,  html: { novalidate: true }, local: true, method: :post do |f| %>
        <%= govuk_input(
          :email,
          form: f,
          label: {
            text: t('.email'),
          },
          hint: {
            text: t('.email_hint')
          },
          classes: 'govuk-!-width-three-quarters',
          field_type: :email,
        ) %>

        <%= govuk_input(
          :first_name,
          form: f,
          label: {
            text: t('.first_name'),
          },
          hint: {
            text: t('.first_name_hint')
          },
          classes: 'govuk-!-width-three-quarters',
        ) %>

        <%= govuk_input(
          :last_name,
          form: f,
          label: {
            text: t('.last_name'),
          },
          hint: {
            text: t('.last_name_hint')
          },
          classes: 'govuk-!-width-three-quarters',
        ) %>

        <%= govuk_form_group(:summary_line, model: f.object) do |displayed_error| %>
          <%= f.hidden_field :summary_line %>
          <%= govuk_label(:organisation, t('.organisation'), form: f) %>
          <%= govuk_hint(attributes: { id: 'organisation-hint' }) do %>
            <%= t('.organisation_hint') %>
            <br>
            <br>
            <%= t('.organisation_address_guidance') %>
          <% end %>
          <%= displayed_error %>
          <div id="my-autocomplete-container" class="govuk-!-width-three-quarters">
          </div>
        <% end %>

        <%= govuk_fieldset(
          legend: {
            text: t('.create_password'),
            classes: 'govuk-fieldset__legend--m'
          }
        ) do %>
          <p class="govuk-body govuk-!-margin-bottom-1" id="password-strength"><%= t('.password_must_have') %></p>

          <%= password_strength("#{f.object_name}_password") %>

          <%= govuk_password_input(
            :password,
            form: f,
            label: {
              text: t('.password'),
            },
            form_group: {
              classes: 'govuk-!-width-three-quarters'
            },
            attributes: {
              aria: {
                describedby: 'password-strength'
              }
            },
          ) %>

          <%= govuk_password_input(
            :password_confirmation,
            form: f,
            label: {
              text: t('.confirm_password'),
            },
            form_group: {
              classes: 'govuk-!-width-three-quarters'
            },
          ) %>
        <% end %>

        <%= govuk_button(t('common.create_account'), form: f) %>
      <% end %>
    <% end %>
  </div>
</div>
