<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
  <meta charset="utf-8" />
  <title><%= page_title%></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="blue" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="<%= asset_pack_url('media/images/favicon.ico') %>" type="image/x-icon" />
  <link rel="mask-icon" href="<%= asset_pack_url('media/images/govuk-mask-icon.svg') %>" color="blue">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_pack_url('media/images/govuk-apple-touch-icon-180x180.png') %>">
  <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_pack_url('media/images/govuk-apple-touch-icon-167x167.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_pack_url('media/images/govuk-apple-touch-icon-152x152.png') %>">
  <link rel="apple-touch-icon" href="<%= asset_pack_url('media/images/govuk-apple-touch-icon.png') %>">

  <%= stylesheet_pack_tag 'govuk' %>

  <%= javascript_pack_tag 'application' %>

  <meta property="og:image" content="<%= asset_pack_url('media/images/govuk-opengraph-image.png') %>">

  <%= render partial: '/shared/google/tag_manager_head' if TailspendIdam.google_tag_manager_tracking_id.present? %>

  <%= canonical_tag %>
</head>

<body class="govuk-template__body app-body-class error-box" data-test="My value" data-other="report:details">
  <%= render partial: '/shared/google/tag_manager_body' if TailspendIdam.google_tag_manager_tracking_id.present? %>

  <%= javascript_tag nonce: true do -%>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  <% end -%>

  <div class="error-content">
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render partial: '/layouts/cookie-banner' unless cookie_preferences_settings['settings_viewed'] || controller.action_name == 'cookie_settings' %>
    <%= render partial: '/layouts/header-banner' %>

    <div class="govuk-width-container app-width-container--wide">
      <!--a href="<%# base_new_user_session_path %>" class="govuk-back-link">Back</a -->
      <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
  </div>

  <footer id="main-footer" class="govuk-footer" role="contentinfo">
    <%= render partial: '/layouts/footer' %>
  </footer>
  <%= javascript_pack_tag 'govuk', 'data-turbolinks-track': 'reload' %>
</body>

</html>